<html>

<head></head>

<body>
<p>Estimado autorizador,</p>
<p><b>El numero de la solicitud ${idsolicitud} solicita que se pueda procesar</b></p>
<p>Por favor, se le pida seleccionar una de estas opciones:</p>
<p><a href="https://techspike.herokuapp.com/aprobarsolicitud?usuario=i-10-gT/o90w4zlLkpzoHs1jw==&solicitud=z8jQSd7eNtDtxhZ0wq4W8w==" target="_blank">Aprobar Solicitud</a></p>
</body>

</html>