<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Solicitud Procesada</title>
</head>
<body>
<div style="background-color: dodgerblue">
    <h1 style="text-align: center; color: beige"><b th:text="'Solicitud ' + ${aprobado}" /></h1>
</div>
<div>
    <p th:text="'El numero de la solicitud ' + ${solicitud} + ' ha sido ' + ${aprobado}" />
</div>
</body>
</html>